@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --color-red: #F03C42;
}

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--color-red);
    height: 100px;
    width: 1200px;
    position: absolute;
}
